@import url('https://fonts.cdnfonts.com/css/satoshi');

:root {
    --bg_color: #FFFFFF;
    --white: #FCFCFC;
    --black: #18181B;
    --gray: #70707B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
    text-decoration: none;
}

/* nvabar section starts */

.navbar_container {
    width: 1100px;
    margin: 0 auto;

    @media only screen and (max-width: 768px) {
        width: 700px;
        margin: 0 auto;
        position: relative;
        overflow-x: hidden;
    }

    @media only screen and (max-width: 480px) {
        width: 90%;
        margin: 0 auto;
    }
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px 0;
}

.header_img {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header_img h1 {
    font-size: 20px;
    line-height: 27px;
    font-weight: 900;
    color: var(--black);
}

nav ul  {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;

    @media screen and  (max-width: 480px) {
        display: none;
    }
}

nav ul li a {
    color: var(--gray);
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 21.7px;
    transition: .5s;
}

ul li a:hover {
    color: var(--black);
}

.header_btn {
    width: 117px;
    height: 45px;
    border-radius: 12px;
    background-color: var(--black);
    font-weight: 500;
    font-size: 16px;
    line-height: 24.8px;
    color: var(--white);
    border: none;
    outline: none;
    cursor: pointer;

    @media only screen and (max-width: 480px) {
        display: none;
    }
}

.menu_bar {
    display: none;

    @media screen and  (max-width: 480px) {
        display: block;
        font-size: 25px;
        color: var(--black);
    }
}

/* mobile shape */

.mobile_shape {
    position: absolute;
    z-index: 10;
    background-color: var(--bg_color);
    width: 100%;
    height: 100vh;
    padding: 30px;
    display: none;
}

.mobile_shape_img {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile_shape_img i {
    font-size: 30px;
    color: var(--black);
}

.mobile_img {
    display: flex;
    align-items: center;
    gap: 5px;
}

.mobile_img img {
    width: 30px;
    height: 30px;
    color: var(--black);
}

.menu_content {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.menu_content a {
    color: var(--gray);
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    line-height: 21.7px;
    transition: all .5s;
}

.menu_content a:hover {
    color: var(--black);
}

.mobile_btn {
     width: 117px;
    height: 45px;
    border-radius: 12px;
    background-color: var(--black);
    font-weight: 500;
    font-size: 16px;
    line-height: 24.8px;
    color: var(--white);
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 106px;
}

/* nvabar section ends */



/* hero section s */

.hero_container {
    width: 1100px;
    margin: 0 auto;
    padding: 55px 0;
    display: flex;
    flex-direction: column;
    gap: 80px;

    @media only screen and (max-width: 768px) {
        width: 700px;
        margin: 0 auto;
        overflow-x: hidden;
    }

    @media only screen and (max-width: 480px) {
        width: 90%;
        margin: 0 auto;
    }
}

.hero_text_ser {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.hero_text {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 480px) {
        flex-direction: column;
        gap: 20px;
    }
}

.hero_text h4 {
    width: 50%;
    font-weight: 400;
    font-size: 60px;
    line-height: 56px;
    color: var(--black);

    @media only screen and (max-width: 768px) {
        font-weight: 500;
        font-size: 40px;
        line-height: 38px;
    }

    @media only screen and (max-width: 480px) {
        width: 100%;
    }
}

.hero_text p {
    width: 40%;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--gray);
    align-content: end;

    @media only screen and (max-width: 768px) {
        font-size: 13px;
        line-height: 17px;
    }

    @media only screen and (max-width: 480px) {
        width: 100%;
        font-size: 14px;
        line-height: 19px;
    }
}

.hero_det_serbar {
    width: 100%;
    height: 57px;
    border-radius: 12px;
    border: 1px solid #E4E4E7;
}

.hero_det_serbar input {
    position: relative;
    width: 100%;
    height: 57px;
    padding: 16px 19px;
    margin-left: 30px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    outline: none;
    background-color: transparent;
}

.hero_det_serbar i {
    position: absolute;
    padding: 20px 19px;
    color: var(--gray);
}

.hero_img_det {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.hero_img_boxs {
    width: 70%;
    display: flex;
    justify-content: space-between;
    gap: 24px;

    @media only screen and (max-width: 768px) {
        width: 100%;
    }

    @media only screen and (max-width: 480px) {
        flex-direction: column;
        gap: 10px;
    }
}

.hero_img {
    width: 50%;

    @media only screen and (max-width: 480px) {
        width: 100%;
    }
}

.hero_img img {
    width: 100%;
    height: 428px;
    border-radius: 12px;

    @media only screen and (max-width: 480px) {
        height: 348px;
    }
}

.blog_box_text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px 10px;

    @media only screen and (max-width: 480px) {
        width: 100%;
    }
}

.blog_box_text .blog_time {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: var(--gray);

    @media only screen and (max-width: 480px) {
        font-size: 12px;
    }
}

.blog_box_text h4 {
    font-weight: 500;
    font-size: 35px;
    line-height: 40px;
    color: var(--black);

    @media only screen and (max-width: 480px) {
        font-size: 23px;
        line-height: 30px;
    }
}

.blog_box_text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--gray);
    margin-top: 20px;
}

.hero_box_item {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media only screen and (max-width: 768px) {
        display: none;
    }
}

.hero_img_box {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.hero_b_img {
    width: 40%;
}

.hero_b_img img {
    width: 100%;
    height: 120px;
    border-radius: 12px;
}

.blog_boxs_text {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.blog_boxs_text p {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    color: var(--gray);

    @media only screen and (max-width: 480px) {
        font-size: 12px;
    }
}

.blog_boxs_text h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
}

/* hero section e */



/* main content s */

.main_content_container {
    width: 1100px;
    margin: 0 auto;
    padding: 55px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media only screen and (max-width: 768px) {
        width: 700px;
        margin: 0 auto;
        overflow-x: hidden;
    }

    @media only screen and (max-width: 480px) {
        width: 90%;
        margin: 0 auto;
    }
}

.main_content_tile {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main_content_tile h4 {
    font-weight: 400;
    font-size: 42px;
    line-height: 54px;
    color: var(--black);
    letter-spacing: -2%;

    @media only screen and (max-width: 480px) {
        font-size: 32px;
        width: 100%;
    }
}

.main_content_tile p {
    width: 70%;
    font-size: 18px;
    line-height: 22px;
    color: var(--gray);

    @media only screen and (max-width: 768px) {
        width: 80%;
    }

    @media only screen and (max-width: 480px) {
        font-size: 14px;
        line-height: 17px;
        width: 100%;
    }
}

/* .blog_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
} */

.blog_all_box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 38px;

    
}

.blog_box {
    width: 341px;
    height: 407px;
    margin-bottom: 65px;

    @media only screen and (max-width: 768px) {
        width: 330px;
    }
}

.blog_img {
    width: 341px;

    @media only screen and (max-width: 768px) {
        width: 330px;
    }
}

.blog_img img {
    width: 100%;
    height: 300px;
    border-radius: 12px;
}

.blog_boxes_text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.blog_boxes_text .blog_t_time {
    display: flex;
    align-items: center;
    gap: 16px;
    color: var(--gray);
}

.blog_boxes_text .blog_t_time p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;

    @media only screen and (max-width: 480px) {
        font-size: 12px;
    }
}

.blog_boxes_text h4 {
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
    color: var(--black);
}

.blog_boxes_text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--gray);
}

.property_button {
    width: 128px;
    height: 45px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 85px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.property_button a {
    text-decoration: none;
    color: var(--white);
    font-weight: 500;
}

#box_9 {
    @media only screen and (max-width: 768px) {
        display: none;
    }
}

#box_5 {
    @media only screen and (max-width: 480px) {
        display: none;
    }
}

#box_6 {
    @media only screen and (max-width: 480px) {
        display: none;
    }
}

#box_7 {
    @media only screen and (max-width: 480px) {
        display: none;
    }
}

#box_8 {
    @media only screen and (max-width: 480px) {
        display: none;
    }
}

/* main content e */


/* contact section starts */

.contact_page {
    width: 1200px;
    height: 490px;
    margin: 50px auto;
    border-radius: 36px;
    background-image: url(blog-img/blog14.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media only screen and (max-width: 768px) {
        width: 750px;
        margin: 0 auto;
        overflow-x: hidden;
        height: 424px;
    }

    @media only screen and (max-width: 480px) {
        width: 90%;
        height: 500px;
        margin: 0 auto;
    }
}

.contact_container {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 80px 50px;

    @media only screen and (max-width: 768px) {
        width: 700px;
        margin: 0 auto;
        overflow-x: hidden;
    }

    @media only screen and (max-width: 480px) {
        width: 90%;
        margin: o auto;
    }
}

.contact_container h4 {
    width: 792px;
    font-weight: 500;
    font-size: 64px;
    line-height: 76px;
    color: var(--bg_color);
    text-align: center;

    @media only screen and (max-width: 768px) {
        width: 598px;
        font-size: 45px;
        line-height: 50px;
    }

    @media only screen and (max-width: 480px) {
        width: 300px;
        font-size: 32px;
        line-height: 39px;
    }
}

.contact_container p {
    width: 792px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: var(--bg_color);
    text-align: center;

    @media only screen and (max-width: 768px) {
        width: 598px;
        font-size: 16px;
        line-height: 22px;
    }

    @media only screen and (max-width: 480px) {
        width: 300px;
        font-size: 14px;
        line-height: 19px;
    }
}

.input_box {
    position: relative;
    width: 504px;
    height: 58px;
    background-color: var(--bg_color);
    border-radius: 12px;

    @media only screen and (max-width: 480px) {
        width: 300px;
        height: 103px;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
}

.input_box input {
    width: 100%;
    height: 100%;
    padding: 16px 24px;
    border: none;
    outline: none;
    font-size: 16px;
    line-height: 28px;
    color: var(--gray);
    border-radius: 12px;

    @media only screen and (max-width: 480px) {
        width: 100%;
        height: 48px;
    }
}

.input_box a {
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 128px;
    height: 42px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 12px;
    cursor: pointer;

    @media only screen and (max-width: 480px) {
        position: relative;
        width: 300px;
        height: 48px;
        margin: 0;
    }
}

/* contact section ends */


/* footer section starts */

footer {
    background-color: var(--black);
    margin-top: 40px;
}

.container_footer {
    width: 1100px;
    margin: 0 auto;
    color: var(--white);
    padding: 80px 0 40px 0;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media only screen and (max-width: 768px) {
        width: 700px;
        overflow-x: hidden;
    }

    @media only screen and (max-width: 480px) {
        width: 90%;
        height: 937px;
    }
}

.footer_details {
    height: 230px;
    display: flex;
    gap: 32px;
    justify-content: space-between;

    @media only screen and (max-width: 768px) {
        gap: 100px;
    }

    @media only screen and (max-width: 480px) {
        height: 629px;
        flex-direction: column;
        justify-content: center;
    }
}

.company_info {
    width: 620px;
    height: 167px;
}

.company_info h4 {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: var(--white);
    margin-bottom: 20px;

    @media only screen and (max-width: 768px) {
        font-size: 24px;
        line-height: 28px;
    }

    @media only screen and (max-width: 480px) {
        font-size: 32px;
        width: 335px;
        margin-bottom: 30px;
    }
}

.company_info_para {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--white);
    font-weight: 400;

    @media only screen and (max-width: 768px) {
        align-items: start;
    }

    @media only screen and (max-width: 480px) {
        flex-direction: column;
    }
}

.company_info_para .div {
    @media only screen and (max-width: 480px) {
        display: flex;
        align-items: center;
        gap: 40px;
    }
}

.company_info_para p {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
}

.company_info_para p span {
    font-size: 14px;
    color: var(--gray);
}

.company_menu {
    width: 326px;
    height: 230px;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 480px) {
        margin-top: 15px;
        flex-direction: column;
    }
}
.navigation { 
    width: 232px;
    height: 148px;
}

.navigation h4 {
    font-weight: 400;
    font-size: 16px;
    color: var(--gray);
}

.navigation ul {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 20px;
    gap: 10px;
    list-style: none;
}

.navigation ul a {
    font-weight: 400;
    text-decoration: none;
    color: var(--white);
    transition: 0.5s;
}

.navigation ul a:hover {
    color: var(--gray);
}

.social h4 {
    font-weight: 400;
    font-size: 16px;
    color: var(--gray);
}

.social ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    list-style: none;

    @media only screen and (max-width: 480px) {
        flex-direction: row;
        gap: 15px;
    }
}

.social ul a {
    font-weight: 400;
    text-decoration: none;
    color: var(--white);
    transition: 0.5s;
}

.social ul a:hover {
    color: var(--gray);
}

.footer_button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    border-top: 1px solid var(--gray);

    @media only screen and (max-width: 480px) {
        height: 172px;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
    }
}

.footer_button p {
    font-weight: 500;
    font-size: 14px;
    color: var(--gray);
}

.footer_button span {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: var(--white);
}

/* footer section ends */